@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Home.js"></script>
</head>

<body>
    <div class="MainDiv">
        <label>Pizza</label>
        <div class="SubDiv">
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/1.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Margherita</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnOnePizza"> Add To Cart</button>
                            <div id="plusMinusPrdOne" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/2.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Cheese n Corn</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">A delectable combination of sweet & juicy golden corn</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnTwoPizza"> Add To Cart</button>
                            <div id="plusMinusPrdTwo" hidden>
                                <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/3.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Fresh Veggie</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Delectable combination of onion & capsicum, a veggie lovers pick</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnThreePizza"> Add To Cart</button>
                            <div id="plusMinusPrdThree" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                               <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>Sandwiches</label>
        <div class="SubDiv">
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/Sandwhichesone.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Veg</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnOnesandwich"> Add To Cart</button>
                            <div id="plusMinusPrdOnesandwich" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount" />
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/sandwichestwo.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Cheese Veg</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnTwosandwich"> Add To Cart</button>
                            <div id="plusMinusPrdTwosandwich" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/sandwichesthree.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Veg Salad</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnThreesandwich"> Add To Cart</button>
                            <div id="plusMinusPrdThreesandwich" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                               <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>Drinks</label>
        <div class="SubDiv">
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/cocacolaone.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Coca cola</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnOneDrinks"> Add To Cart</button>
                            <div id="plusMinusPrdOneDrinks" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount" />
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/pepsione.png"/>
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Pepsi</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnTwoDrinks"> Add To Cart</button>
                            <div id="plusMinusPrdTwoDrinks" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/spirtone.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName">Spirt</span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnThreeDrinks"> Add To Cart</button>
                            <div id="plusMinusPrdThreeDrinks" hidden>
                                  <span class="glyphicon glyphicon-minus"></span>
                                <input type="text" class="txtCartCount"/>
                                <span class="glyphicon glyphicon-plus"></span>
                               <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
