@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Home.js"></script>
</head>

<body>
    <div class="MainDiv">

        <div class="itemWrapper divTotal">
            Total Price -  &#x20b9; <label id="tatalPrice">0</label>
        </div>
        <label>Pizza</label>
        <div class="SubDiv">
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/1.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Margherita</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">120</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnOnePizza" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdOne" hidden>
                                <a class="Update" href="javascript:; #my-modal">Customize</a>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/2.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Cheese n Corn</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">150</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">A delectable combination of sweet & juicy golden corn</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnTwoPizza" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdTwo" hidden>
                                <a class="Update" href="javascript:; #my-modal">Customize</a>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/3.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Fresh Veggie</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">180</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Delectable combination of onion & capsicum, a veggie lovers pick</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnThreePizza" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdThree" hidden>
                                <a class="Update" href="javascript:; #my-modal">Customize</a>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>Sandwiches</label>
        <div class="SubDiv">
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/Sandwhichesone.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Veg</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">50</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnOnesandwich" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdOnesandwich" hidden>
                                <a class="Update" href="javascript:; #my-modal">Customize</a>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/sandwichestwo.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Cheese Veg</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">80</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnTwosandwich" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdTwosandwich" hidden>
                                <a class="Update" href="javascript:; #my-modal">Customize</a>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/sandwichesthree.jpg" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Veg Salad</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">90</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnThreesandwich" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdThreesandwich" hidden>
                                <a class="Update" href="javascript:; #my-modal">Customize</a>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <label>Drinks</label>
        <div class="SubDiv">
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/cocacolaone.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Coca cola</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">60</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnOneDrinks" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdOneDrinks" hidden>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/pepsione.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Pepsi</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">60</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnTwoDrinks" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdTwoDrinks" hidden>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itemWrapper">
                <div class="PartDiv">
                    <img src="~/images/FoodChainImg/spirtone.png" />
                    <div class="DetailsDiv">
                        <div class="itemDescDiv">
                            <span class="itmName"><label class="itemName">Spirt</label> &nbsp;&nbsp;&nbsp; &#x20b9; <label class="lblPrice">60</label></span>
                            <span class="itmdscrptn" title="Classic delight with 100% real mozzarella cheese">Classic delight with 100% real mozzarella cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <button id="BtnThreeDrinks" class="AddToCard"> Add To Cart</button>
                            <div id="plusMinusPrdThreeDrinks" hidden>
                                <span class="glyphicon glyphicon-minus decresePrice"></span>
                                <input type="text" class="txtCartCount" value="1" />
                                <span class="glyphicon glyphicon-plus increasePrice"></span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="itemWrapper PlaceOrder">
           <button type="button" class="btn btn-success" id="checkout">CheckOut</button>
        </div>
    </div>
    <div id="MyPopup" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Customize
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="DetailsDiv">
                        <div class="addTocardDiv">
                            <div id="plusMinusPrdOne" hidden="" style="display: block;">
                                <span class="glyphicon glyphicon-minus textExtraBredMinus"></span>
                                <input type="text" class="txtCartCount" value="0" id="textExtraBred">
                                <span class="glyphicon glyphicon-plus textExtraBredPlus"></span>
                            </div>
                            <span class="itmName">Extra Bread</span>
                        </div>
                        <div class="addTocardDiv">
                            <div id="plusMinusPrdOne" hidden="" style="display: block;">
                                <span class="glyphicon glyphicon-minus textExtraToppMinus"></span>
                                <input type="text" class="txtCartCount" value="0" id="textExtraToppings">
                                <span class="glyphicon glyphicon-plus textExtraToppPlus"></span>
                            </div>
                            <span class="itmName">Extra Toppings</span>
                        </div>
                        <div class="addTocardDiv">
                            <div id="plusMinusPrdOne" hidden="" style="display: block;">
                                <span class="glyphicon glyphicon-minus textExtraBredMinus"></span>
                                <input type="text" class="txtCartCount" value="0" id="textExtraCheese">
                                <span class="glyphicon glyphicon-plus textExtraBredPlus"></span>
                            </div>
                            <span class="itmName">Extra Cheese</span>
                        </div>
                        <div class="addTocardDiv">
                            <div id="plusMinusPrdOne" hidden="" style="display: block;">
                                <span class="glyphicon glyphicon-minus textExtraBredMinus"></span>
                                <input type="text" class="txtCartCount" value="0" id="textExtraSauce" />
                                <span class="glyphicon glyphicon-plus textExtraBredPlus"></span>
                            </div>
                            <span class="itmName">Extra Sauce</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnAddExtras" value="Add" class="btn btn-info" />
                    <input type="button" id="btnClosePopup" value="Close" class="btn btn-danger" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
